#creating {
  background: #ebebeb;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: 1170px) {
    width: 1170px;
  }

  h3 {
    color: #b0604a;
    font-size: 30px;
    text-align: center;
    line-height: 25pt;
    padding-bottom: 40px;
  }

  .instr_block {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .instr_elem {
      width: 33.333%;
      margin: 3%;

      .text {
        color: #868685;
        font-size: 15px;
        padding-bottom: 15px;
        height: 90px;
      }

      img {
        width: 100%;
      }
    }
  }
}
