#menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  @media (max-width: 1170px) {
    width: 1170px;
  }

  header {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;

    img {
      width: 230px;
    }

    .number {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      .button {
        width: 160px;
        height: 30px;
        background: url('images/button_png.png') no-repeat center center;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
      }

      span {
        color: #868685;
        font-size: 13px;
      }
    }

    nav {
      a {
        color: #888;
        text-decoration: none;
        margin-left: 8px;
        margin-right: 8px;
        font-size: 15px;
      }
    }
  }

  header .parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // footer {
  //   background: #f7f7f7;
  //   padding-top: 10px;
  //   padding-bottom: 8px;
  //
  //   nav {
  //     display: flex;
  //     justify-content: space-between;
  //
  //     a {
  //       color: #b0604a;
  //       text-decoration: none;
  //       text-transform: uppercase;
  //     }
  //   }
  // }
}
