#review {
  background: #ebebeb;
  padding-top: 50px;
  padding-bottom: 0;

  @media (max-width: 1170px) {
    width: 1170px;
  }

  h3 {
    text-align: center;
    font-size: 30px;
    color: #b0604a;
    padding-bottom: 30px;
  }

  h4 {
    color: #868685;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
  }

  .review_block {
    padding-top: 80px;
    width: 600px;
    margin: auto;

    .review_elem {
      padding-bottom: 50px;

      .name {
        font-size: 16px;
        color: #b0604a;
        padding-bottom: 5px;
      }

      .status {
        color: #868685;
        padding-bottom: 30px;
        font-size: 16px;
      }

      .text {
        color: #868685;
        font-size: 16px;
        line-height: 18pt;
      }
    }
  }
}
