doctype html
html(lang!="RU-ru")
  head
    include sections/header.jade
  body
    include sections/menu.jade
    include sections/service.jade
    include sections/equip.jade
    include sections/repair.jade
    include sections/instr.jade
    include sections/callwrite.jade
    
    include sections/footer.jade  
