doctype html
html(lang!="RU-ru")
  head
    include sections/header.jade
  body
    include sections/menu.jade
    include sections/bur.jade
    include sections/works_step.jade
    include sections/complex.jade
    include sections/modif.jade
    include sections/callwrite.jade

    include sections/footer.jade 
