doctype html
html(lang!="RU-ru")
  head
    include sections/header.jade
  body
    include sections/menu.jade
    include sections/ex.jade
    include sections/steps.jade
    include sections/ex_eq.jade
    include sections/callwrite.jade

    include sections/footer.jade 
