doctype html
html(lang!="RU-ru")
  head
    include sections/header.jade
  body
    include sections/menu.jade
    include sections/bum.jade
    include sections/bum2.jade
    include sections/tech.jade
    include sections/creating.jade
    include sections/callwrite.jade

    include sections/footer.jade 
  
