doctype html
html(lang!="RU-ru")
  head
    meta(http-equiv="refresh" content="5;http://mining-service.kz/")
    include sections/header.jade
  body(style="text-align:center;")
    img(src="images/spasibo.png")
    include sections/footer.jade  
