doctype html
html(lang!="RU-ru")
  head
    include sections/header.jade
  body
    include sections/menu.jade
    include sections/trans.jade
    include sections/trans_dan.jade
    include sections/trans_table.jade
    include sections/trans_add_2.jade
    include sections/trans_add_3.jade
    include sections/callwrite.jade

    include sections/footer.jade 
