@import
  'sections/reset.scss',
  'sections/mail';

body {
  font-family: Calibri, Arial;
  background: #ccc;
  padding-top: 158px;
}

.parent {
  width: 1170px;
  margin: auto;
}

@import
  'sections/menu',
  'sections/main',
  'sections/reason',
  'sections/team',
  'sections/bur',
  'sections/bum',
  'sections/instr',
  'sections/bum2',
  'sections/modif',
  'sections/works_step',
  'sections/review',
  'sections/steps',
  'sections/ex';
