section#bum
  .parent
    .shape
      h3 Взрывные работы
      p совокупность операций по подготовке и инициированию зарядов взрывчатого вещества.
      p Выполняются с целью рационального и безопасного разрушения горных пород с использованием энергии взрыва.
      .place Взрывные работы ведутся в соответствии с едиными правилами безопасности и окружающей среды.
      img(src="images/bum_price.png")
