section#bum2
  .parent
    .shape
      h3 предоставление услуг по взрывным работам высочайшего качества
      .lists
        ul
          li 
            div.num 1.
            div проект на проведения взрывных работ
          li 
            div.num 2.
            div основные параметры взрывных работ
          li
            div.num 3.
            div конструкция заряда взрывчатых веществ
          li
            div.num 4.
            div механизация грузопереработки взрывчатые вещества 
          li
            div.num 5.
            div хранение, учёт и использование взрывчатых материалов
          li 
            div.num 6.
            div применение взрывчатых материалов
        ul
          li
            div.num 7.
            div доставка, укладка взрывчатые вещества и хранилища на склады взрывчатые вещества или специальные площадки
          li
            div.num 8.
            div заряжание взрывчатые вещества в скважины
          li
            div.num 9.
            div растаривание и загрузка взрывчатые вещества в транспортно-зарядные машины
          li
            div.num.last 10.
            div безопасные расстояния при производстве взрывных работ хранении взрывчатые материалы 
