section#bum2
  .parent
    .shape
      h3 предоставление услуг по взрывным работам высочайшего качества
      ul
        li проект на проведения взрывных работ
        li основные параметры взрывных работ
        li конструкция заряда взрывчатых веществ
        li механизация грузопереработки взрывчатые вещества 
        li хранение, учёт и использование взрывчатых материалов
        li применение взрывчатых материалов
        li доставка, укладка взрывчатые вещества и хранилища на склады взрывчатые вещества или специальные площадки
        li заряжание взрывчатые вещества  в скважины
        li астаривание и загрузка взрывчатые вещества в транспортно-зарядные машины
        li безопасные расстояния при производстве взрывных работ хранении взрывчатые материалы
