section#bur
  .parent
    .shape
      h3 Бурение
      p.padding процесс образования горной выработки преимущественно круглого сечения путём разрушения горных пород буровым инструментом.
      p предоставляются услуги бурения:
      p 1.	Бурение шпуров и скважин
      p 2.	RC бурение (с обратной циркуляцией).
      img(src="images/bur_price .png")
