section.calculator
  .wrap
    header
      .tab.active БВР
      .tab Перевозка автосамосвал 45 т
      .tab Перевозка автосамосвал 25 т
    footer
      .tab_content
        select
          option 
  
