section#modal_callwrite.close_modal
  form
    h3 Заказать обратный звонок
    input(type="num" placeholder="телефон" name="number" required)
    input(type="num" placeholder="ваше имя" name="name" required)
    input(type="num" placeholder="вопрос" name="question" required)
    button.send заказать
    button.closer закрыть
    
