section#creating
  .parent
    h3!="производство эмульсионных и гранулированных <br> взрывчатых веществ, заряд в скважину для <br> проведения взрывных работ осуществляется"
    .instr_block
      .instr_elem
        .text!="смесительно-зарядная машина<br> максимальная производительность - 300 кг/мин<br>грузоподъемность по Взрывчатых веществ до 14 тонн"
        img(src="images/creating_1.png")
      .instr_elem
        .text!="изготовление эмульсионных и гранулированных взрывчатых веществ на месте работ"
        img(src="images/creating_2.png")
      .instr_elem
        .text!="поставка гранулированных, эмульсионных взрывчатых веществ и средств инициирования взрыва"
        img(src="images/creating_3.png")
