section#equip_table
  .parent
    h3!="имеется вся необходимая техника"
    h4 для проведения всех операций  по разработке месторождений открытым способом более 100 единиц специализированной техники, из них 10 буровых станков
    img(src="images/equip_table.jpg")
