section#ex
  .container
    .shape
      h3 Экскавация
      p технологический процесс отделения горной массы (горных пород или полезных ископаемых) от массива или навала, осуществляемый путём внедрения в него исполнительного (рабочего) органа машины, который при этом наполняется экскавируемой породой.
      p Производим экскавацию горной массы гидравлическими экскаваторами.
      img(src="images/ex_price.png")
