section#instr
  .parent
    .shape
      h3 для выполнения профилактического ТО и ремонта техники организована сервисная служба с площадками для сервисного и технического обслуживания
      ul
        li Планирование и составление графиков ТО и Р с использованием программы MCS (Maintenance Control System);
        li Инспекция и диагностика состояния карьерной техники;
        li Проведение Технического обслуживания и ремонта горного оборудования;
        li Ремонт двигателей внутреннего сгорания;
        li Ремонт трансмиссии и ходовой части техники;
        li Ремонт топливных и гидравлических насосов;
        li Восстановительные работы с использованием расточно-наплавочного комплекса;
        li Передвижная ремонтная мастерская (ПАРМА).
      h4 Основные преимущества:
      ul
        li Обеспечение высокой технической готовности техники, при минимальных затратах;
        li Наличие большой номенклатуры запасных частей и компонентов, что влечет снижение возможных простоев техники;
        li Применение современных бизнес-процессов сервиса.
