section#main
  header
    .parent
      .shape
        p!="Помогает разрабатывать месторождения открытым способом <span>быстро</span>, <span>профессионально</span> и без капитальных затрат"
  footer
    .parent
      .icon_block
        h3 быстрый запуск, полный контроль
        img(src="images/main_icon_1.png")
        a(href="#test") видеообращение генерального директора
      .icon_block
        h3 как быстро начать работы
        img(src="images/main_icon_2.png")
        a(href="#test") скачать план
      .icon_block
        h3 как выбрать подрядчика
        img(src="images/main_icon_3.png")
        a(href="#test") скачать обзор
      .icon_block
        h3 подать заявку на услугу
        img(src="images/main_icon_4.png")
        a(href="#test") рассчитать
        
