section#main
  header
    .parent
      .shape
        p!="Помогает разрабатывать месторождения<br> открытым способом <span>быстро</span>, <span>профессионально</span><br> и без капитальных затрат"
  footer
    .parent
      //- .icon_block
      //-   h3 быстрый запуск, полный контроль
      //-   img(src="images/main_icon_1.png")
      //-   a(href="#test") видеообращение генерального директора
      .icon_block
        h3 как быстро начать работы
        img(src="images/main_icon_2.png")
        a(href="effect.pdf" target="_blank") скачать план
      .icon_block
        h3 лицензии
        img(src="images/main_icon_3.png")
        a(href="license.pdf" target="_blank") скачать
      .icon_block
        h3 подать заявку на услугу
        img(src="images/main_icon_4.png")
        a(href="#test") рассчитать
        
