section#menu
  header
    .parent
      a(href="/"): img(src="images/logo_.png")
      nav
        a(href="drilling.html") бурение
        a(href="explosion.html") взрывные работы
        a(href="transportation.html") перевозка
        a(href="excavation.html") экскавация
        a(href="additional.html") дополнительные услуги
      .number
        .button +7 (7212) 922-927
        span заказать звонок
  //- footer
  //-   .parent
  //-     nav
  //-       a(href="#") бурение
  //-       a(href="#") взрывные работы
  //-       a(href="#") экскавация
  //-       a(href="#") перевозка
  //-       a(href="#") дополнительные услуги
      
