section#menu
  header
    .parent
      a(href="#top"): img(src="images/logo_.png")
      .number
        .button +7 (7212) 922-927
        span заказать звонок
  footer
    .parent
      nav
        a(href="#") бурение
        a(href="#") взрывные работы
        a(href="#") экскавация
        a(href="#") перевозка
        a(href="#") дополнительные услуги
      
