section#quality
  .parent
    .shape
      h3!="предоставление комплекса горных работ <br> высочайшего качества"
      p.pad_down производство буровых и взрывных работ осуществляются по типовому проекту ведения буровзрывных работ в карьере и проекта на массовый взрыв согласованный с горнотехническим надзором проект на буровзрывные работы  на основании лицензий
      ul
        li Генеральная лицензия № 14008833 от 18.06.2014г «Разработка, производство, приобретение и реализация взрывчатых и пиротехнических веществ и изделий с их применением» и всех необходимых приложении к лицензии
        li Генеральная лицензия № 0004240 от 28.06.2011г «переработка минерального сырья»
        li Лицензии на ведение операции связанных с горными, взрывными и буровыми работами
      ul
        .head Все работы ведутся своими силами без привлечения субподрядных организаций:
        li по утвержденному технологическому регламенту и плану горных работ
        li по безопасному производству буровзрывных работ
        li согласно Правил обеспечения промышленной безопасности для опасных производственных объектов, ведущих взрывные работы
      p А так же правил утилизации опасных отходов которые образовываются при выполнении взрывных работ.
