section#reason
  .parent
    h3 5 причин выбрать Mining Service Group
    .wrap
      .text
        h4 1. полный комплекс открытых горных работ в рамках одного подрядчика: 
        ul
          li • буровзрывные работы 
          li • экскавация, перевозка и складирование горной массы
          li • транспортировка руды
          li • сервисное обслуживание карьерной спец. техники
          li • строительство производственных и жмлых объектов
          li • снабжение предприятий ГМК
          li • услуги по организации питания, проживания, обслуживания персонала
        h4 2. быстрейший запуск работ от 10 дней
        h4 3. бонусы и специальные низкие цены
        ul
          li • БЕСПЛАТНО к горным контрактам: питание и клининг управленческого состава клиента на карьерах
          li • специальные низкие цены на эксплуатационную разведку (RC бурение) при комплексных горных работах от 3.5 миллионов кубометров в год
          li • БЕСПЛАТНО аудит карьера и плана горных работ с рекомендациями о повышении  
        h4 4. минимальные простои и бесперебойная работа. коэффициент технической готовности техники (КТГ) более 90%:
        ul
          li • широчайший парк новой специализированной техники, более 100 ед., с пособен выполнить любую задачу
          li • прочные  прямые связи с поставщиками оборудования, вкл договор о фирменной технической поддержке
          li • прекрасная техническая оснащенность производственно-ремонтной базы, включая собственный центр технического обслуживания горной техники
          li • наличие резервной техники
          li • высокая производительность бурения с помощью новейшего оборудования последних модификаций
        h4 5. первоклассная команда высоко квалифицированных специалистов 
        ul
          li • постоянное обучение и аттестации
          li • повышение качества корпоративного управления, получение степени МБА в ведущих бизнес школах Казахстана и России
          li • бизнес процессы соответствуют ISO 9001, 18001
          li • поддержание высоких стандартов в области охраны труды
          li • собственный персонал по ремонту спецтехники
      img(src="images/reason_img.png")
