section#repair
  .parent
    .shape
      h3!="Ремонт горного оборудования"
      .list!="<span>1.</span> мониторинг состояния техники"
      .list!="<span>2.</span> сервисное обслуживание"
      .list!="<span>3.</span> капитальный ремонт компонентов"
