section#review
  .parent
    h3 отзывы благодарных клиентов
    h4 Команда Mining Service Group (новый бренд от ГМК КазПолиметалл) прикладывает все усилия,
    h4 чтобы работы были выполнены в срок с высоким качеством.
    .review_block
      .review_elem
        .name Дауенов С.А.
        .status президент Элеватормельстрой
        .text Элеватормельстрой признает и утверждает, исполнение договорных обязательств Mining Service Group (новый бренд от ГМК КазПолиметалл) осуществлялись на самом высоком уровне и качестве.
      .review_elem
        .name Тулегенов М.А
        .status генеральный директор Eurasia Соррег Operating
        .text Выполненные работы Mining Service Group (новый бренд от ГМК КазПолиметалл) стали одной из основных причин выполнения плановых показателей.
