section#service
  .parent
    .shape
      h3!="бытовые сервисы"
      .list!="<span>1.</span> питание на вахтовых поселках"
      .list!="<span>2.</span> организация проживания и клининг помещении"
      .list!="<span>3.</span> организация досуга на вахтовых поселках"
