section#steps
  .parent
    h3.steps_head этапы работы
    .steps_block
      .steps_elem
        img(src="images/step_w_1.png")
        h4 выемка горной массы
      .steps_elem
        img(src="images/step_w_2.png")
        h4 отвалообразование: формирование и поддержание отвалов для вывезенной горной массы
      .steps_elem
        img(src="images/step_w_3.png")
        h4 рекультивация
