section#team
  .parent
    h3 наш самый ценный актив -
    h4 квалифицированные сотрудники разного профиля
    ul
      li первоклассная команда высоко квалифицированных специалистов постоянно обучаются и проходят аттестации
      li бизнес процессы соответствуют ISO 9001, 18001
      li постоянное повышение качества корпоративного управления, получение степени МБА в ведущих школах Казахстана и России
      li поддержание высоких стандартов в области охраны труда
      li собственный персонал по ремонту спецтехники
    .team_block
      .icon_team
        img(src="images/team_1.png")
        h5  Елдос Жаппаров Суйкмбекович
        .status генеральный директор
      .icon_team
        img(src="images/team_1.png")
        h5  Елдос Жаппаров Суйкмбекович
        .status генеральный директор
      .icon_team
        img(src="images/team_1.png")
        h5  Елдос Жаппаров Суйкмбекович
        .status генеральный директор
      .icon_team
        img(src="images/team_1.png")
        h5  Елдос Жаппаров Суйкмбекович
        .status генеральный директор
