section#trans_dan
  .parent
    .shape
      h3!="Перевозка и экскавация горной массы, концентрата и сыпучих материалов автосамосвалами грузоподъемность 10-25 тонн"
      img(src="images/trans_dan_price.png")
