section#steps
  .parent
    h3 этапы работы
    h4 ведутся в соответствие с едиными правилами
    h4 безопасности и охраны окружающей среды
    ul
      li расстановка буровых станков и расчет объемов на планируемый период
      li составление паспорта на бурение взрывных скважин, учитывая характеристику горных пород
      li маркшейдерское обеспечение буровых работ (выноска в натуру первого ряда, контроль над параметрами блока инструментальная съемка блока)
      li бурение скважин
      li сдача блока по акту приема-передачи под взрывные работы
    .img_elems
      img(src="images/step_1.png")
      img(src="images/step_2.png")
