html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#mail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }
  #mail .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 25px;
    padding: 25px; }
    #mail .message img {
      width: 150px;
      height: 150px; }
    #mail .message .message_text {
      float: right;
      padding-left: 25px;
      padding-top: 30px; }
      #mail .message .message_text h3 {
        font-size: 25pt;
        font-weight: 300;
        color: #0f0f0f; }
      #mail .message .message_text p {
        font-size: 11pt; }

.not_visible_mail {
  display: none; }

body {
  font-family: Calibri, Arial;
  background: #ccc;
  padding-top: 96px; }

.parent {
  width: 1170px;
  margin: auto; }

#menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; }
  @media (max-width: 1170px) {
    #menu {
      width: 1170px; } }
  #menu header {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px; }
    #menu header img {
      width: 230px; }
    #menu header .number {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer; }
      #menu header .number .button {
        width: 160px;
        height: 30px;
        background: url("images/button_png.png") no-repeat center center;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px; }
      #menu header .number span {
        color: #868685;
        font-size: 13px; }
    #menu header nav a {
      color: #888;
      text-decoration: none;
      margin-left: 8px;
      margin-right: 8px;
      font-size: 15px; }
  #menu header .parent {
    display: flex;
    justify-content: space-between;
    align-items: center; }

@media (max-width: 1170px) {
  #main {
    width: 1170px; } }

#main header {
  background: url("images/main.jpg") no-repeat center center;
  padding-top: 30px;
  padding-bottom: 480px; }
  #main header .shape {
    background: rgba(255, 255, 255, 0);
    width: 500px;
    padding: 10px 20px; }
    #main header .shape p {
      font-size: 20px;
      line-height: 30px;
      color: #fff; }
      #main header .shape p span {
        font-size: 22px;
        color: #b0604a; }

#main footer {
  background: #ebebeb;
  padding-top: 20px;
  padding-bottom: 40px; }
  #main footer .parent {
    display: flex;
    justify-content: space-around; }
  #main footer .icon_block {
    width: 200px;
    text-align: center; }
    #main footer .icon_block img {
      width: 125px; }
    #main footer .icon_block a {
      display: block;
      cursor: pointer;
      color: #497aef;
      text-decoration: underline; }

#reason {
  background: url("images/reason.jpg") no-repeat center center;
  padding-bottom: 50px;
  padding-top: 20px; }
  @media (max-width: 1170px) {
    #reason {
      width: 1170px; } }
  #reason h3 {
    color: #b0604a;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px; }
  #reason .wrap {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  #reason .text {
    width: 50%; }
  #reason img {
    width: 30%; }
  #reason h4 {
    color: #6d5c54;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 10px; }
    #reason h4 span {
      color: #b0604a; }
  #reason .list {
    display: flex; }
  #reason ul {
    padding-left: 34px; }
  #reason li {
    color: #868685;
    padding-bottom: 5px;
    list-style-type: disc;
    font-size: 17px; }
    #reason li span {
      color: #b0604a; }

#team {
  background: #fff;
  padding-top: 100px;
  padding-bottom: 150px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box; }
  @media (max-width: 1170px) {
    #team {
      width: 1170px; } }
  #team h3,
  #team h4,
  #team h5 {
    color: #b0604a; }
  #team h3 {
    font-size: 30px; }
  #team h4 {
    font-size: 25px;
    padding-bottom: 40px; }
  #team h5 {
    font-size: 17px;
    padding-top: 10px; }
  #team ul {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 15px;
    padding-bottom: 40px;
    box-sizing: border-box; }
    @media (max-width: 1170px) {
      #team ul {
        padding-left: 50px;
        padding-right: 50px; } }
    #team ul li {
      color: #b0604a;
      font-size: 17px;
      line-height: 20pt;
      padding-bottom: 10px; }
      #team ul li span {
        color: #868685; }
        #team ul li span.text {
          color: #b0604a; }
  #team .team_block {
    display: flex;
    justify-content: space-around; }
    #team .team_block .icon_team {
      width: 220px;
      text-align: center; }
    #team .team_block img {
      margin-bottom: 20px;
      width: 60%; }

#bur {
  background: url("images/bur_bg.jpg") no-repeat center bottom;
  background-size: cover;
  height: calc(100vh - 96px); }
  @media (max-width: 1170px) {
    #bur {
      width: 1170px; } }
  #bur .shape {
    width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    margin-top: 30px;
    float: right;
    margin-right: 80px; }
    #bur .shape h3 {
      color: #b0604a;
      font-size: 30px;
      padding-bottom: 15px; }
    #bur .shape p {
      color: #868685;
      font-size: 20px; }
      #bur .shape p.padding {
        padding-bottom: 20px; }
    #bur .shape img {
      position: absolute;
      bottom: -60%;
      right: -14%;
      width: 175px; }

#bum {
  background: url("images/bum_bg.jpg") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 96px); }
  @media (max-width: 1170px) {
    #bum {
      width: 1170px; } }
  #bum .shape {
    width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    margin-top: 30px;
    float: right;
    margin-right: 80px; }
    #bum .shape h3 {
      color: #b0604a;
      font-size: 30px;
      padding-bottom: 15px; }
    #bum .shape p {
      color: #868685;
      font-size: 20px; }
      #bum .shape p.padding {
        padding-bottom: 20px; }
    #bum .shape img {
      position: absolute;
      bottom: -60%;
      right: -14%;
      width: 175px; }
    #bum .shape .place {
      background: #b0604a;
      color: #fff;
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 18px; }

#instr {
  background: url("images/instr.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 40px;
  height: calc(100vh - 96px);
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1170px) {
    #instr {
      width: 1170px; } }
  #instr .shape {
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    width: 850px;
    margin: auto; }
  #instr h3 {
    color: #b0604a;
    font-size: 30px;
    text-align: center;
    padding-bottom: 25px; }
  #instr h4 {
    color: #b0604a;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 15px; }
  #instr ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 20px; }
    #instr ul li {
      color: #868685;
      font-size: 17px;
      padding-bottom: 4px; }

#bum2 {
  background: url("images/bum2_bg.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 40px;
  height: calc(100vh - 96px);
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1170px) {
    #bum2 {
      width: 1170px; } }
  #bum2 .shape {
    width: 900px;
    margin: auto; }
  #bum2 h2 {
    color: #fff;
    font-size: 100px;
    text-align: center;
    padding-bottom: 25px; }
  #bum2 h3 {
    color: #fff;
    font-size: 80px;
    text-align: center;
    padding-bottom: 25px; }
  #bum2 h4 {
    color: #b0604a;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 15px; }
  #bum2 .lists {
    display: flex;
    justify-content: space-between; }
  #bum2 ul {
    list-style-position: outside;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 47%; }
    #bum2 ul li {
      color: #868685;
      font-size: 17px;
      padding-bottom: 10px;
      display: flex;
      width: 100%; }
      #bum2 ul li .num {
        padding-right: 15px;
        color: #b0604a;
        box-sizing: border-box;
        width: 30px; }
        #bum2 ul li .num.last {
          padding-right: 7px; }

#modif {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (max-width: 1170px) {
    #modif {
      width: 1170px; } }
  #modif h3 {
    color: #b0604a;
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px; }
  #modif .parent {
    display: flex;
    justify-content: center;
    align-items: center; }
  #modif img.modif {
    width: 300px;
    margin-left: 25px; }
  #modif img.table {
    width: 500px; }

#steps {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 150px; }
  @media (max-width: 1170px) {
    #steps {
      width: 1170px; } }
  #steps.work_steps {
    padding-bottom: 0; }
  #steps h3 {
    color: #b0604a;
    text-align: center;
    font-size: 30px;
    padding-bottom: 15px; }
  #steps h4 {
    color: #868685;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center; }
  #steps ul {
    padding-top: 40px;
    padding-bottom: 20px;
    list-style-type: decimal;
    width: 700px;
    margin: auto;
    font-size: 17px; }
    #steps ul li {
      color: #868685;
      padding-bottom: 10px; }
  #steps .img_elems {
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    #steps .img_elems img {
      width: 400px;
      margin: 0 25px; }

#review {
  background: #ebebeb;
  padding-top: 50px;
  padding-bottom: 0; }
  @media (max-width: 1170px) {
    #review {
      width: 1170px; } }
  #review h3 {
    text-align: center;
    font-size: 30px;
    color: #b0604a;
    padding-bottom: 30px; }
  #review h4 {
    color: #868685;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px; }
  #review .review_block {
    padding-top: 80px;
    width: 600px;
    margin: auto; }
    #review .review_block .review_elem {
      padding-bottom: 50px; }
      #review .review_block .review_elem .name {
        font-size: 16px;
        color: #b0604a;
        padding-bottom: 5px; }
      #review .review_block .review_elem .status {
        color: #868685;
        padding-bottom: 30px;
        font-size: 16px; }
      #review .review_block .review_elem .text {
        color: #868685;
        font-size: 16px;
        line-height: 18pt; }

@media (max-width: 1170px) {
  #steps {
    width: 1170px; } }

#steps .steps_head {
  padding-bottom: 40px; }

#steps .steps_block {
  width: 700px;
  margin: auto; }
  #steps .steps_block .steps_elem {
    padding-bottom: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    #steps .steps_block .steps_elem img {
      width: 300px; }
    #steps .steps_block .steps_elem h4 {
      padding-left: 20px;
      text-align: left;
      font-size: 20px; }

#ex {
  background: url("images/ex_bg.jpg") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 96px); }
  @media (max-width: 1170px) {
    #ex {
      width: 1170px; } }
  #ex .shape {
    width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    margin-top: 30px;
    float: right;
    margin-right: 80px; }
    #ex .shape h3 {
      color: #b0604a;
      font-size: 30px;
      padding-bottom: 15px; }
    #ex .shape p {
      color: #868685;
      font-size: 20px; }
      #ex .shape p.padding {
        padding-bottom: 20px; }
      #ex .shape p.last {
        padding-top: 15px; }
    #ex .shape img {
      position: absolute;
      bottom: -60%;
      right: -14%;
      width: 175px; }
    #ex .shape .place {
      background: #b0604a;
      color: #fff;
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 18px; }

#trans {
  background: url("images/trans_bg.jpg") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 96px); }
  @media (max-width: 1170px) {
    #trans {
      width: 1170px; } }
  #trans .shape {
    width: 700px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    margin-top: 150px;
    float: right;
    margin-right: 80px; }
    #trans .shape h3 {
      color: #b0604a;
      font-size: 30px;
      padding-bottom: 35px;
      padding-top: 15px;
      line-height: 25pt; }
    #trans .shape p {
      color: #868685;
      font-size: 18px; }
      #trans .shape p.padding {
        padding-bottom: 20px; }
    #trans .shape img {
      position: absolute;
      bottom: -60%;
      right: -14%;
      width: 175px; }
    #trans .shape .place {
      background: #b0604a;
      color: #fff;
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 18px; }

#trans_dan {
  background: url("images/trans_dan_bg.jpg") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 96px); }
  @media (max-width: 1170px) {
    #trans_dan {
      width: 1170px; } }
  #trans_dan .shape {
    width: 800px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    margin-top: 100px;
    float: right;
    margin-right: 80px; }
    #trans_dan .shape h3 {
      color: #b0604a;
      font-size: 30px;
      padding-bottom: 15px;
      padding-top: 15px;
      line-height: 25pt; }
    #trans_dan .shape p {
      color: #868685;
      font-size: 18px; }
      #trans_dan .shape p.padding {
        padding-bottom: 20px; }
    #trans_dan .shape img {
      position: absolute;
      bottom: -60%;
      right: -14%;
      width: 175px; }
    #trans_dan .shape .place {
      background: #b0604a;
      color: #fff;
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 18px; }

#creating {
  background: #ebebeb;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (max-width: 1170px) {
    #creating {
      width: 1170px; } }
  #creating h3 {
    color: #b0604a;
    font-size: 30px;
    text-align: center;
    line-height: 25pt;
    padding-bottom: 40px; }
  #creating .instr_block {
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    #creating .instr_block .instr_elem {
      width: 33.333%;
      margin: 3%; }
      #creating .instr_block .instr_elem .text {
        color: #868685;
        font-size: 15px;
        padding-bottom: 15px;
        height: 90px; }
      #creating .instr_block .instr_elem img {
        width: 100%; }

#repair {
  background: url("images/repair_bg.jpg") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 96px); }
  @media (max-width: 1170px) {
    #repair {
      width: 1170px; } }
  #repair .shape {
    width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    margin-top: 30px;
    float: right;
    margin-right: 80px; }
    #repair .shape h3 {
      color: #b0604a;
      font-size: 30px;
      padding-bottom: 15px;
      padding-top: 15px;
      line-height: 25pt; }
    #repair .shape p {
      color: #868685;
      font-size: 17px; }
      #repair .shape p.padding {
        padding-bottom: 20px; }
    #repair .shape img {
      position: absolute;
      bottom: -60%;
      right: -14%;
      width: 175px; }
    #repair .shape .place {
      background: #b0604a;
      color: #fff;
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 18px; }
    #repair .shape .list {
      color: #868685;
      font-size: 17px;
      padding-bottom: 15px; }
      #repair .shape .list span {
        color: #b0604a; }

#complex {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (max-width: 1170px) {
    #complex {
      width: 1170px; } }
  #complex h3 {
    color: #b0604a;
    font-size: 30px;
    text-align: center;
    line-height: 25pt;
    padding-bottom: 40px; }
  #complex .content {
    display: flex;
    justify-content: center;
    align-items: center; }
    #complex .content img {
      width: 400px; }
    #complex .content .text {
      padding-left: 25px; }
      #complex .content .text .list {
        font-size: 17px;
        padding-bottom: 20px;
        display: flex; }
        #complex .content .text .list span {
          color: #868685; }
        #complex .content .text .list .text {
          color: #b0604a;
          padding-right: 10px; }

#quality {
  background: url("images/quality.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 40px;
  height: calc(100vh - 96px); }
  @media (max-width: 1170px) {
    #quality {
      width: 1170px; } }
  #quality .shape {
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 25px 30px;
    width: 800px;
    margin: auto; }
  #quality h3 {
    color: #b0604a;
    font-size: 30px;
    text-align: center;
    padding-bottom: 25px; }
  #quality p {
    color: #868685;
    font-size: 17px; }
    #quality p.pad_down {
      padding-bottom: 50px;
      text-align: center; }
  #quality ul {
    padding-bottom: 30px;
    list-style-type: disc;
    padding-left: 25px;
    color: #868685;
    font-size: 17px;
    line-height: 15pt; }
    #quality ul .head {
      color: #868685; }

#complex {
  background: #ebebeb;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (max-width: 1170px) {
    #complex {
      width: 1170px; } }
  #complex h3 {
    color: #b0604a;
    font-size: 30px;
    text-align: center;
    line-height: 25pt;
    padding-bottom: 40px; }
  #complex .content {
    display: flex;
    justify-content: center;
    align-items: center; }
    #complex .content img {
      width: 400px; }
    #complex .content .text {
      color: #868685;
      padding-left: 25px; }
      #complex .content .text .list {
        color: #868685;
        font-size: 17px;
        padding-bottom: 20px; }

#service {
  background: url("images/services.jpg") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 96px); }
  @media (max-width: 1170px) {
    #service {
      width: 1170px; } }
  #service .shape {
    width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    margin-top: 30px;
    float: right;
    margin-right: 80px; }
    #service .shape h3 {
      color: #b0604a;
      font-size: 30px;
      padding-bottom: 15px;
      padding-top: 15px;
      line-height: 25pt; }
    #service .shape p {
      color: #868685;
      font-size: 18px; }
      #service .shape p.padding {
        padding-bottom: 20px; }
    #service .shape img {
      position: absolute;
      bottom: -60%;
      right: -14%;
      width: 175px; }
    #service .shape .place {
      background: #b0604a;
      color: #fff;
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 18px; }
    #service .shape .list {
      color: #868685;
      font-size: 17px;
      padding-bottom: 15px; }
      #service .shape .list span {
        color: #b0604a; }

#clients {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (max-width: 1170px) {
    #clients {
      width: 1170px; } }
  #clients h3 {
    color: #b0604a;
    font-size: 30px;
    text-align: center;
    line-height: 25pt; }
  #clients h4 {
    color: #868685;
    font-size: 20px;
    text-align: center;
    line-height: 25pt;
    padding-bottom: 40px; }
  #clients .content {
    display: flex;
    justify-content: center;
    align-items: center; }
    #clients .content img {
      width: 400px; }
    #clients .content .fancybox {
      position: relative; }
    #clients .content .icon {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column-reverse;
      align-items: center; }
    #clients .content .search_icon {
      width: 32px; }
    #clients .content .text {
      color: #868685;
      padding-left: 25px; }
      #clients .content .text .list {
        color: #868685;
        font-size: 17px;
        padding-bottom: 10px; }
        #clients .content .text .list span {
          color: #b0604a; }

#equip_table {
  background: #ebebeb;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  @media (max-width: 1170px) {
    #equip_table {
      width: 1170px; } }
  #equip_table h3 {
    color: #b0604a;
    font-size: 30px;
    line-height: 25pt; }
  #equip_table h4 {
    color: #868685;
    font-size: 20px;
    line-height: 25pt;
    padding-bottom: 40px; }
  #equip_table img {
    width: 700px; }

#tech {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (max-width: 1170px) {
    #tech {
      width: 1170px; } }
  #tech h3 {
    color: #b0604a;
    font-size: 30px;
    text-align: center;
    line-height: 25pt;
    padding-bottom: 40px; }
  #tech .content {
    display: flex;
    justify-content: center;
    align-items: center; }
    #tech .content img {
      width: 400px; }
    #tech .content p {
      color: #868685;
      font-size: 17px;
      line-height: 20pt;
      padding-left: 20px;
      width: 600px; }

#ex_eq {
  background: #ebebeb;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  @media (max-width: 1170px) {
    #ex_eq {
      width: 1170px; } }
  #ex_eq h3 {
    color: #b0604a;
    font-size: 30px;
    line-height: 25pt;
    padding-bottom: 40px; }
  #ex_eq img {
    width: 700px; }

#map {
  background: #ebebeb;
  position: relative; }
  @media (max-width: 1170px) {
    #map {
      width: 1170px; } }
  #map h3 {
    color: #b0604a;
    font-size: 30px;
    text-align: center;
    line-height: 25pt;
    padding-top: 15px;
    padding-bottom: 25px; }
  #map ul {
    width: 700px;
    margin: auto;
    padding-bottom: 30px; }
    #map ul li {
      padding-top: 5px;
      padding-bottom: 5px;
      color: #868685;
      font-size: 17px; }
      #map ul li span {
        color: #b0604a; }
  #map #map_main {
    height: 400px; }
  #map img {
    width: 100%; }
  #map .contact_block {
    position: absolute;
    right: 30px;
    top: 350px;
    z-index: 10;
    background: #006532;
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px; }
    #map .contact_block h5 {
      padding-bottom: 5px; }

#modal_callwrite {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center; }
  #modal_callwrite.close_modal {
    display: none; }
  #modal_callwrite form {
    background: #745d53;
    width: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; }
    #modal_callwrite form h3 {
      color: #fff;
      font-size: 25px;
      padding-bottom: 15px; }
    #modal_callwrite form input {
      display: block;
      width: 61%;
      height: 35px;
      margin: 15px auto;
      font-size: 16px;
      padding: 5px;
      box-sizing: border-box; }
    #modal_callwrite form button {
      background: #e12121;
      color: #fff;
      border: none;
      padding: 10px 40px;
      margin: 0 10px;
      cursor: pointer; }
      #modal_callwrite form button.closer {
        background: transparent;
        border: 2px solid #e12121; }

.calculator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none; }
  .calculator.active {
    display: flex; }
  .calculator .wrap {
    width: 800px;
    background: #fff;
    margin: auto;
    padding-bottom: 20px;
    border-radius: 20px; }
    .calculator .wrap #closer_calc {
      margin-top: 25px;
      background: url("images/button_bg.jpg");
      background-size: contain;
      border-radius: 10px;
      color: #fff;
      border: 0;
      float: right;
      margin-right: 30px;
      padding: 10px 20px; }
  .calculator header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px; }
    .calculator header .tab {
      width: 30%;
      height: 50px;
      background: url("images/tab_bg.jpg");
      background-size: contain;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      color: #fff;
      cursor: pointer; }
      .calculator header .tab.active {
        background: url("images/tab_active_bg.jpg"); }
  .calculator footer {
    padding-top: 10px; }
    .calculator footer button {
      background: url("images/button_bg.jpg");
      background-size: contain;
      border-radius: 10px;
      color: #fff;
      border: 0;
      float: right;
      padding: 10px 20px; }
    .calculator footer .tab_content {
      display: none;
      width: 100%; }
      .calculator footer .tab_content.bvr_form .form footer form {
        width: 60%;
        float: left; }
      .calculator footer .tab_content.active {
        display: flex;
        justify-content: space-around;
        align-items: flex-start; }
        .calculator footer .tab_content.active img {
          width: 30%; }
      .calculator footer .tab_content .form {
        width: 100%; }
        .calculator footer .tab_content .form header {
          display: flex;
          justify-content: space-around;
          align-items: flex-start; }
          .calculator footer .tab_content .form header h3 {
            color: #b0604a;
            font-size: 30px; }
          .calculator footer .tab_content .form header .button {
            background: url("images/button_bg.jpg");
            background-size: contain;
            border-radius: 10px;
            color: #fff;
            width: 200px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-top: 8px; }
        .calculator footer .tab_content .form footer,
        .calculator footer .tab_content .form .self_data {
          width: 100%; }
          .calculator footer .tab_content .form footer .line,
          .calculator footer .tab_content .form .self_data .line {
            width: 100%;
            height: 55px;
            padding-left: 50px;
            padding-right: 50px;
            box-sizing: border-box;
            overflow: hidden;
            position: relative; }
            .calculator footer .tab_content .form footer .line h4,
            .calculator footer .tab_content .form .self_data .line h4 {
              color: #8d191d;
              font-size: 25px;
              float: left; }
            .calculator footer .tab_content .form footer .line select,
            .calculator footer .tab_content .form footer .line input:not(.standart),
            .calculator footer .tab_content .form .self_data .line select,
            .calculator footer .tab_content .form .self_data .line input:not(.standart) {
              float: right;
              width: 210px;
              height: 35px;
              padding-left: 10px;
              box-sizing: border-box;
              border: 2px solid #818181;
              border-radius: 5px; }
            .calculator footer .tab_content .form footer .line label .button,
            .calculator footer .tab_content .form .self_data .line label .button {
              float: right;
              width: 210px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              background: url("images/butt_send_bg.png") no-repeat;
              font-size: 13px;
              background-size: contain;
              box-sizing: border-box;
              border-radius: 5px;
              cursor: pointer; }
            .calculator footer .tab_content .form footer .line label input,
            .calculator footer .tab_content .form .self_data .line label input {
              visibility: hidden; }
            .calculator footer .tab_content .form footer .line input[type="submit"],
            .calculator footer .tab_content .form .self_data .line input[type="submit"] {
              float: right;
              width: 210px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              background: url("images/butt_send_bg.png") no-repeat;
              font-size: 13px;
              background-size: contain;
              border: 0;
              box-sizing: border-box;
              border-radius: 5px;
              cursor: pointer; }
              .calculator footer .tab_content .form footer .line input[type="submit"]:active,
              .calculator footer .tab_content .form .self_data .line input[type="submit"]:active {
                outline: none; }
          .calculator footer .tab_content .form footer button,
          .calculator footer .tab_content .form .self_data button {
            background: url("images/button_bg.jpg");
            background-size: contain;
            border-radius: 10px;
            color: #fff;
            border: 0;
            float: right;
            margin-right: 50px;
            padding: 10px 20px; }
        .calculator footer .tab_content .form .self_data {
          float: right;
          width: 40%; }
    .calculator footer .rest_form .form footer .self_data {
      width: 100%;
      display: flex;
      justify-content: space-around; }
    .calculator footer .rest_form .form footer .column {
      width: 50%; }
      .calculator footer .rest_form .form footer .column .line input,
      .calculator footer .rest_form .form footer .column .line select {
        float: none !important; }
      .calculator footer .rest_form .form footer .column.column_2 .line input,
      .calculator footer .rest_form .form footer .column.column_2 .line select {
        float: right !important; }
